
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

#headings{
  font-family: Arial, Helvetica, sans-serif;
}

h2{
  margin-bottom: 0px;
}

.container{
  display: grid;
  background-color: #424a42 		;
  width: 98.75vw;
  height: 300vh;
  grid-template-columns: 10vw repeat(6,1fr) 10vw;
  grid-template-rows: 20vh 80vh 95vh 10vh 80vh 3vh 20vh;
  
}

.body1{
  grid-column: 1/9  ;
  grid-row: 2;
  color: white;

}
.body1 > img{
  width: 100%;
  height: 100%;
}

.body2{
  display: grid;
  grid-template-columns:35vw 10vw 35vw;
  grid-template-rows: 20vh 5vh 70vh;
  grid-column: 2/8;
  grid-row: 3;
  color: wheat;
  

}



.body2text{
  grid-column: 1/4;
  grid-row: 1 ;
  text-align: center;
  font-size: 35px;
  margin-top: 5vh;
  font-family: 'Courier New', Courier, monospace;
}
.imagecontainer1{
  grid-column: 1 ;
  grid-row: 3;
  border-radius: 10px;
  background-color: #636355		;
  text-decoration: none;
  transition: transform .2s;
  color: white;
  text-align: center;

}
.img1{
  width: 90%;
  height: 70%;
  border-radius: 20px;
  margin-top: 5%;
}


.imagecontainer2{
  grid-column: 3 ;
  grid-row: 3;
  border-radius: 10px;
  background-color: #636355		;
  text-decoration: none;
  transition: transform .2s;
  color: white;
  text-align: center;

}
.imagecontainer2:hover, .imagecontainer1:hover{
  transform: scale(1.05);
}

.body3{
  display: grid;
  grid-template-rows: 5vh 70vh 5vh;
  grid-template-columns: 2vw 50vw 3vw 18vw;
  grid-column: 2/8;
  grid-row: 5;
  border-radius: 10px;
  background-color: #636355;
  margin-bottom: 10px;
  color: wheat;

}

.bodyimg{
  width: 100%;
  height: 100%;
  background-color: white;
  grid-column: 2;
  grid-row: 2;
}
.bodytxt{
  grid-column: 4;
  grid-row:2 ;
  font-size: 25px;
}
.bodyimg > img{
  height: 100%;
  width: 100%;
}

.footer{
  display: grid;
  grid-template-columns: 15vw repeat(3,1fr) 10vw;
  grid-template-rows: 10px 90px;
  grid-column: 1/9;
  grid-row: 7;
  background-color: #636355;
  width: 100%;
  height: 17vh;
  column-gap: 10px;

}

.footertable{
  border: 0px;
  border-color: wheat;
  width: 100%;
  text-align: left;
  
}

.footertable th, .footertable td, .footertable tr{
  border: none;
}


.footertable th{
  font-size: 30px;
  color: wheat;
}

.footerimage{
  width: 40px;
  height: 40px;
}

.map {
  margin-top: 10px;
  margin-bottom: 20px;
}

.footertext1{
  grid-row: 2;
  grid-column: 2;
}
.footertext2{
  grid-row: 2;
  grid-column: 3;
}
.footertext3{   
   grid-row: 2;
  grid-column: 4;
}

.footertext3 > a > img{
  width: 40px;
  height: 40px;
}

.clickablelink{
  color: wheat;
  text-decoration: none;
  font-weight: bold;
  
}
.clickablelink:hover{
  text-decoration: underline;
}

.header{
  display: flex;
  width: auto;
  grid-column: 1/9;
  grid-row: 1;
  background-color: #424a42;
  text-align: center;
  justify-content: space-around ;
  font-family: Arial Black,Arial Bold,Gadget,sans-serif;
    text-shadow: 3px 3px black;
    column-gap: 15px;
  
}

.header > img:hover{
  transform: scale(1.05);
}

.button1 {

  text-decoration: underline;
  color: white;
  font-size: 4vh;
  text-align: center;
  margin-top: 7vh;
  
}


.button1:hover , .button2:hover , .button3:hover , .button4:hover {
  opacity: 90%;
  transform: scale(1.1);
  text-decoration: underline;
}


.simulatorbutton{
  border-radius: 10px;
  background-color: wheat ;
  font-size: 25px;

}

.simulatorbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.simulatorbutton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.1 s;
}
.simulatorbutton:hover span {
  padding-right: 25px;
}

.simulatorbutton:hover span:after {
  opacity: 1;
  right: 0;
}

.containerOther{
  display: flex;
  flex-wrap: wrap;
  background-color: #424a42;
  width: auto;
  height: auto;
}

.altheader {
    display: flex;
    grid-column: 1/9;
    grid-row: 1;   
    justify-content: space-around;
    font-family: Arial Black,Arial Bold,Gadget,sans-serif;
    text-shadow: 3px 3px black;
    width: 100%;
}

.altheadimage > img{
  width: 24vw;
}


.altbutton1{
  text-decoration: none;
  color: white;
  font-size: 30px;
  margin-top: 5vh;
}


.altbutton1:hover , .altbutton2:hover , .altbutton3:hover, .altbutton4:hover { 
  transform: scale(1.1);
  text-decoration: underline;
}

.body1menu{
  background-color: black;
  height: 400px;
  width: 100%;
  position: relative;
  text-align: center;
}
.body1menu > img{
  object-fit: cover;
  width: 100%;
  height: 100%;

}

.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial Black,Arial Bold,Gadget,sans-serif;

  font-size: 60px;
  color: white;
  color: white;
  text-shadow: 3px 3px black;  
  
}
.mySlides {display:none;}

.body2menu {
  grid-column: 2/8;
  grid-row: 4;
}

.tab {
  overflow: hidden;
  border: 1px solid white;
}

.tab button:hover {
  background-color: #636355;
}

.tab button.active {
  background-color: #636355;
}

.tab button {
  background-color: inherit;
  font-size: 30px;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: white;
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid white;
  border-top: none;
  color: white;
  background-color: none  ;
}

.body2book{
  display: grid;
  grid-template-columns: 30% 5% 65% ;
  grid-template-rows: 100%;
  height: 80vh;
  border: wheat;
  border-style: solid ;
  color: wheat;
  margin: 15px;
  margin-bottom: 40px;
  width: 100%;
  

  
}

.body2bookText{
  grid-row: 1;
  grid-column: 1;
  overflow: none;
}

.body2bookText > h1{
  margin-left: 20px;
  text-align: center;
}

.body2bookText > h2 {
  text-decoration: none;
  text-align: center;
}
.body2bookText > p{
  margin-left: 20px;
}



.body2bookarea{
  grid-row: 1;
  grid-column: 3;
  
}

.containerOther2{
  display: flex;
  flex-wrap: wrap;
  background-color: #424a42;
  width: auto;
  height: auto;

}

.body2rates{
  display: grid;
  grid-template-columns:  repeat(4,12vw) 2vh repeat(4,12vw);
  grid-template-rows: 15vh 40vh 15vh 15vh 60vh 5vh;
  margin-left: auto;
  margin-right: auto;
  color: black;
}

.body2ratesheader{
  grid-row: 1;
  grid-column: 1/10;
  text-align: center;
  font-size: 40px;
  margin-top: 3vh;
  color: wheat;
  font-weight: bold;
}

.body2ratesbutton{
  grid-row: 3;
  grid-column: 4/7;
  text-align: center;
}

.body2ratesheading{
  grid-row: 4;
  grid-column: 3/8;
  text-align: center;
}

.body2rates1{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 10px 1fr ;
  grid-column: 1/5 ;
  grid-row: 2;
  border-radius: 5px;
}
.body2rates1Sect1{
  grid-row: 1;
}
.body2rates1Sect2{
  grid-row: 3;
}

.body2rates1Sect1 , .body2rates1Sect2{
  color: wheat;
  background-color: #44482E;  }

.body2rates1Sect1:hover , .body2rates1Sect2:hover{
  transform: scale(1.05);
}
.body2rates2{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 10px 1fr ;
  grid-column: 6/10;
  grid-row: 2;
  border-radius: 5px;
  text-decoration: none;
}

.body2rates3{
  display: flex;
  flex-wrap: wrap;
  grid-column: 1/10;
  grid-row: 5;
  color: wheat;
  justify-content: center;
  height: auto;
  width: auto;
  row-gap: 10px ;
}



.body2rates3Sect1{
  height: auto;
  width: 90%;
  background-color: #44482E;
  border: 2px solid black;
  border-top: none;
  margin-left: 5%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 1fr;


}
.body2rates3Head{
  grid-row: 1;
  grid-column: 1/9;
  background-color: #44482E;
  border: 2px solid black;
  width: 90%;
  margin-left: 5%;


}

.bookingtable table, .bookingtable th, .bookingtable td, .bookingtable tr {
  border: 2px solid tan ;  
  text-align: left;

}

.booknowbutton{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  border-radius: 20px;
  background-color: wheat;
  font-size: 30px;
  color: black;
}
.booknowbutton:hover, .booknowbutton1:hover, .booknowbutton2:hover{
  transform: scale(1.05);
  text-decoration: underline;
}

.booknowbutton1{
  width: 40vw;
  height: 5vh;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  background-color: wheat;
  text-align: center;
  font-size: 30px;
  color: black;
  font-weight: bold;
}

.booknowbutton2{
  width: 100%;
  height: 5vh;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0px;
  background-color: wheat;
  text-align: center;
  font-size: 30px;
  color: black;
  font-weight: bold;
  margin-top: 10px;
  
}


.body2drinks{
  display: flex;
  grid-row: 4;
  grid-column: 1/9;
  gap: 10px;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  justify-content: space-around;
}
.body2drinks  > img{
  margin-top: 10px;
  margin-bottom: 10px;
}

.card1 {
  background-color: #636355 ;
  margin-top: 5%;
  margin-bottom: 10px;
  border-radius: 5%;
  width: 300px;
  height: auto;
  color: wheat;
  
}
.card1:hover , .card2:hover , .card3:hover , .card4:hover, .card5:hover , .card6:hover , .card7:hover, .card8:hover, .card9:hover{
  transform: scale(1.01);
}

.card1{
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-rows: 5% 60% 40%;
  grid-template-columns: 5% 90% 5%;
  color: wheat;
}
.cardimg{
  grid-row: 2;
  grid-column: 2;
  width: 100%;
  height: 100%;
  border-radius: 5%;
}

.cardtxt{
  grid-row: 3;
  grid-column: 2;
  text-align: center;
  font-size: 20px ;
  color: black;
}

.containerOther3{
    display: flex;
    flex-wrap: wrap;
    background-color: #424a42;
    width: auto;
    height: auto;

}


@media only screen and (max-width: 900px)  {

  .container{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: auto;
    
  }

  .header{
    display: flex;
    width: 100%;
    height: auto;
    gap: 10px ;
    flex-wrap: wrap;
    
  }
    .header > img{
      width: 95vw;
      height: 50%;
    }
  .headerimage > img{
    height: 90%;
  }
  .button1{
    grid-area: button1;
    margin-left: 5px;
    margin-top: 0%;
    font-size: 3vh;
  }
  
  .body1{
    grid-area: body1;

  }
  .body2{
    grid-area: body2;
    display: flex;
    flex-wrap: wrap;

  }


  .imagecontainer1:hover , .imagecontainer2:hover{
    transform: scale(1);
  }
  .imagecontainer2,.imagecontainer1{

    margin: 15px;
  }
  .body3{
    display: none;
  }
  .footer{
    grid-area: foot;
  }

  .containerOther2{
    display: flex;
    flex-wrap: wrap;


  }
  .altheader{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    column-gap: 10px ;
    row-gap: 0px  ;
  }
  .altbutton1{
    height: auto;
    margin-top: 0px;
    
  }

  .altheadimage{
    width: 100%;
    height: 50%;
  }
  .altheadimage > img{
    width: 100%;
    height: 100%;
  }


  .containerOther{
    display: flex;
    flex-wrap: wrap;
  }

  .body1menu{
    display: flex;
    height: 60%;
  }

  .footer{
    width: 100%;
    height: auto;
  }

  .altheadimage{
    height: 60%;
    width: 90%;
  }

  .body2drinks{
    height: auto;
  }
  .body2drinks > img{
      width: 100%;
  }

  .body2book{
      display: grid;
      grid-template-columns: 1fr;
  }


  .body2bookText > table{
      visibility: collapse;
  }
  .body2bookText > h2{
      visibility: collapse;
  }


  .body2bookText > img{
      visibility: collapse;
      
  }
  .booknowbutton1{
      width: 80vw;
  }

  .booknowbutton2{
    margin-top: 5px;
    width: 70vw;
    font-size: 4vh;
  }


  .footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footertable{
    width: 90%;
  }

  #dissapear{
    visibility: collapse;
  }

  .body2rates{
    display: flex;
    flex-wrap: wrap;
    margin-left: 2%;
    margin-right: 2%;
    justify-content: center;

  }

  .body2rates1{
    width: 100%;
    margin-bottom: 5px;
  }
  .body2rates2{
    width: 100%;
    margin-bottom: 5px;
  }

  .body2rates1sect1{
    width: 100%;
    margin-bottom: 5px;
  }
  .body2rates1sect2{
    width: 100%;
    margin-bottom: 5px;
  }
  .body2ratesheading{
  font-size: 20vh;
  
  }
  .body2rates{
    margin-top: 10px;
    margin-bottom: 10px;
  }


}

